.contact-main-section {
	width: 100%;
	margin-top: 5rem;
	overflow: hidden;
	z-index: 1;
		@include media(767px) {
			margin-top: 20rem;
		}
		.contact-main-wrapper {
			width: 75%;
			margin: 0 auto;
			padding-bottom: 3rem;
			position: relative;
			.toast-container {
		   	position: absolute; 
				right: 0;
				top: 27%;
				padding: 1.5rem 1.5rem;
				border-radius: 0.5rem;
				background-color: #63d471;
				background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
				@include flex-center(row);
				.close-toast {
					position: absolute;
					@include flex-center(row);
					bottom: -1rem;
					right: -1.2rem;
					padding: 0.5rem;
					border-radius: 50%;
					background-color: rgb(1, 112, 1);
					cursor: pointer;
					.close {
						color: $text-color;
						font-weight: 900;
						font-size: 2rem;
					}
				}
				.toast-message {
					font-weight: 900;
					color: $text-color;
				}
				.check-icon {
					@include flex-center(row);
					margin-right: 0.5rem;
					.check {
						font-size: 3rem;
						color: #008000;
					}
				}
			}
		.title {
			font-size: 4rem;
			font-weight: 600;
			color: $text-color;
			position: relative;
			padding-bottom: 0.5rem;
			margin-bottom: 5rem;

			@include media(763px) {
				font-size: 6rem;
				font-weight: 600;
			}
			&::after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				height: 0.5rem;
				border-radius: 0.5rem;
				width: 15rem;

				background-color: $secondary-color;
			}
		}
		.detail-info {
			display: block;
			text-align: center;
			width: 90%;
			max-width: 425px;
			margin: 0 auto;
			font-size: 2rem;
			color: $secondary-text-color;
		}
		.emojs {
			margin-top: 0.5rem;
		}
		.contact-main-wrapper {
			width: 100%;
			margin-top: 3rem;

			@include flex-center(column);
			@include media(1000px) {
				@include flex-between(row);
				margin-top: 6rem;
			}
		}
		.main-contact-right-container {
			width: 100%;
			@include media(1000px) {
				width: 40%;
			}
			h3 {
				color: $text-color;
				font-size: 2.5rem;
				span {
					color: $secondary-color;
				}
			}
          .show-info {
    
            font-size: 1.7rem;
            font-weight: 600;
            margin-top: 1.5rem;
            color: $secondary-text-color;
          }
		}
	}


	    .more-info {
	      margin-top: 5rem;
	      width: 100%;

	      @include flex-start(row);
	      .info-icons {
	        @include flex-center(column);
	        margin-right: 4rem;
	        position: relative;
	        li{
	          margin: 1.5rem 0;
	          padding: 1rem;
	          background-color: $secondary-color;
	          opacity: 0.6;
	          .icon {
	            color: $text-color;
	            font-size: 2rem;
	          }
	        }
	        &::after {
	          position: absolute;
	          content: "";
	          top: 1.8rem;
	          right: -2rem;
	          height: 90%;
	          width: 1px;
	          background-color: $secondary-text-color;
	        }
	      }
	    .info-details {
	      li {
	        margin: 3.5rem 0;
	        span {
	          color: $text-color;
	          font-weight: 600;
	          margin-bottom: 0.7rem;
	        }
	        p {
	          color: $secondary-text-color;
	        }
	      }
	    }
	    }
    } 
	  .main-contact-left-container{
	    width: 100%;
	    @include media(1000px)
	    {
	      width: 60%;
	    }
	      p {
	        color: $text-color;
	        font-size: 2.3rem;
	        font-style: italic;
	        font-weight: 600;
	        text-align: end;
	        margin-right: 2rem;

	      }
	      #contact-form {
	        width: 100%;

	        @include flex-center(column);
	        padding-top: 4rem;
	        .form-group {
	          width: 80%;
	          margin: 0 auto;
	          margin-bottom: 1rem;
	          input {
	            width: 100%;
	            background-color: $black-ground-color;
	            border-bottom: 1px solid $secondary-text-color;
	            padding: 2rem 1rem;
	            font-size: 1.7rem;
	            font-weight: 500;
	            color: $secondary-text-color;
	            cursor: text;
	            font-family: "Quicksand",sans-serif;

	          }
	          #message {
	            margin-top: 1rem;
	            padding: 0 1rem;
	            background-color: $black-ground-color;
	            width: 100%;
	            outline: none;
	            border: none;
	            border-bottom: 1px solid $secondary-text-color;
	            color: $secondary-text-color;
	            font-weight: 500;
	            font-size: 1.7rem;
	            resize: none;
	            &::-webkit-scrollbar {
	              width: 10px;
	            }
	            &::-webkit-scrollbar-thumb {
	              border-radius: 0.5rem;
	              background: $secondary-color;
	              cursor: pointer;
	            }

	          }
	        }
					.error-msg {
						font-size: 1.6rem;
						margin-bottom: 0.5rem;
						color: $secondary-color;
					}	
	        .btn {
	          padding: 0.6rem 2rem;
	          border: 2px solid $secondary-color;
	          background-color: $secondary-color;
	          color: $text-color;
	          font-size: 1.8rem;
	          font-weight: 500;
	          border-radius: 0.5rem;
	          margin-right: 1.3rem;
	          position: relative;
	          z-index: 1;
	          opacity: 0.99;
	          align-self: flex-start;
	          margin-left: 6rem;
	          &::before {
	            position: absolute;
	            top: 0;
	            left: 0;
	            right: 0;
	            bottom: 0;
	            content: "";
	            border-radius: 0.5rem;
	            background-color: lighten($black-ground-color, 90);
	            transition: transform 700ms;
	            transform-origin: left;
	            transform: scaleX(0);
	            z-index: -1;
	          }
	          &:hover {
	            color: $secondary-color;
	          }
	          &:hover::before {
	            transform: scaleX(1);
	          }
	        }
	      }
	  }

		input:-internal-autofill-selected {
			background-color: $black-ground-color;
		}