.headline-section {
  width: 75%;
  margin: 0 auto;
}

.main-healine-container {
  width: 100%;
  padding-top: 4.5rem;
}

.main-healine-container .me {
  width: 80%;
  max-width: 300px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0;
  text-align: left;
  color: $text-color;
}


