.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	.header-main-container {
		width: 90%;
		margin: 0 auto;
		height: 9rem;
		@include flex-between(row);
		.left-list-container {
			display: none;
		}
		.menu-icon {
			width: 4rem;
			height: 4rem;
			background-color: $text-color;
			cursor: pointer;
			border-radius: 50%;
			@include flex-center(row);
			.humberger {
				font-size: 2.5rem;
			}
		}
		.logo-container .logo {
			font-size: 2.8rem;
			font-weight: 900;
			color: $text-color;
			span {
				color: $secondary-color;
			}
		}

		.navbar-img-wrapper,
		.close-icon,
		.languages {
			display: none;
		}
	}
}

.main-navbar.open {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $black-ground-color;
	z-index: 999;
	.languages {
		position: absolute;
		top: 3rem;
		left: 2rem;
		@include flex-start(row);
		align-items: flex-end;
		@include media(400px) {
		}
		li {
			a {
				color: $text-color;
				font-size: 1.7rem;
				font-weight: 400;
				&:hover {
					color: $secondary-color;
				}
			}
			&:first-child a {
				color: $secondary-color;
				margin-right: 1rem;
			}
			&:last-child a {
				color: $secondary-color;
				text-decoration: underline;
				display: none;
			}
		}
	}
}

.main-navbar.open .main-navbar-container {
	width: 100%;
	height: 100%;
	.menu-icon {
		display: none;
	}
	.close-icon {
		position: absolute;
		top: 2rem;
		right: 2rem;
		width: 4rem;
		height: 4rem;
		background-color: $text-color;
		cursor: pointer;
		border-radius: 50%;
		z-index: 999;
		@include flex-center(row);
		.close {
			font-size: 2.5rem;
			color: $black-ground-color;
		}
	}
	.header-list {
		width: 100%;
		height: 100%;
		@include flex-center(row);
		justify-content: space-between;
		.navbar-img-wrapper {
			display: none;
			@include media(992px) {
				display: block;
				width: 50%;
				float: left;
				margin-left: 5rem;
			}			
			img {
				max-width: 85%;
			}
		}
		.left-list-container {
			width: 95%;
			margin: 0 auto;
			height: 100%;
			@include flex-center(row);
			justify-content: space-between;
			@include media(992px){
				width: 50%;
				height: 100%;
			}
			.nav-list {
				@include flex-center(column);
				padding-top: 4rem;
				padding-right: 3rem;
				align-items: flex-end;	
				width: 100%;
				position: relative;
				.nav-link {
					margin-bottom: 3rem;
					padding: 1rem 0;
					a {
						text-align: end;
						font-size: 3.5rem;
						font-weight: 600;
						color:  $text-color;
						position: relative;
						@include media(768px) {
							font-size: 4.5rem;
							font-weight: 900;
						}
						span {
							position: absolute;
							top: 1rem;
							right: -3rem;
							font-size: 1.3rem;
							padding: 0.4rem 0.6rem;
							border-radius: 50%;
							background-color: $text-color;
							color: $secondary-color;
						}
						&:hover {
							color:red ;
							transform: translateX(-3rem);
							transition: all .75s cubic-bezier(.63,.03,.21,1);
						}
					}
				}
				&::after {
					position: absolute;
					content: "";
					top: 0;
					height: 100%;
					width: 2.8rem;
					background-color: $black-ground-color;
					right: 0;
					z-index: 99;
				}
			}
			.social-media-list {
				padding-left: 1rem;
				align-self: flex-end;
				position: relative;
				@include media(992px){
					width: 100%;
					@include flex-center(row);
					justify-content: flex-end;
					position: absolute;
					bottom: 2rem;
					right: 20rem;
				}
				.social-media-link {
					padding: 1rem 0;
					position: relative;
					@include media(768px) {
						margin-left: 3rem;	
					}
						.header-icon {
							color:  $text-color;
							font-size: 2rem;
							&:hover {
								color: $secondary-color;
							}
						@include media(768px) {
							font-size: 2.5rem;
						}
					}
					&:first-child::after,
				  &:last-child::before {
						content: '';
						position: absolute;
						height: 2px;
						background-color: darken($text-color, 70);
						top: 50%;
						display: none;
						@include media(992px) {
							width: 100px;
							display: block;
						}
					}
					&:first-child::after {
						left: -10rem;
						@include media(992px) {
						left: 20rem;
						}
					}
					&:last-child::before {
						right: 10rem;
						@include media(992px) {
							right: 20rem;
						}
					}
				}
			}
		}
		// 	@include flex-end(column);
		// 	align-items: flex-end;
		// 	padding-right: 3rem;
		// 	background-color: red;
		// 	width: 100%;
		// 	height: 100%;
		// 	// .nav-link {
		// 	// 	margin-bottom: 1rem;
		// 	// 	width: 30rem;
		// 	// 	@include flex-end(row); 
		// 	// 	@include media(768px) {
		// 	// 		margin-right: 10rem;
		// 	// 		margin-top: 4rem;
		// 	// 	}
		// 	// 	a {
		// 	// 		width: 100%;
		// 	// 		text-align: end;
		// 	// 		font-size: 3.5rem;
		// 	// 		font-weight: 600;
		// 	// 		color:  $text-color;
		// 	// 		position: relative;
		// 	// 		@include media(768px) {
		// 	// 			font-size: 4.5rem;
		// 	// 			font-weight: 900;
		// 	// 		}
		// 	// 		span {
		// 	// 			position: absolute;
		// 	// 			top: 1rem;
		// 	// 			right: -3rem;
		// 	// 			font-size: 1.3rem;
		// 	// 			padding: 0.4rem 0.6rem;
		// 	// 			border-radius: 50%;
		// 	// 			background-color: $text-color;
		// 	// 		}
		// 	// 		&.active {
		// 	// 			color: $secondary-color;
		// 	// 		}
		// 	// 		&::after {
		// 	// 			position: absolute;
		// 	// 			content: "";
		// 	// 			height: 3rem;
		// 	// 			width: 3rem;
		// 	// 			top: 1rem;
		// 	// 			right: -4.5rem;
		// 	// 			font-size: 1.3rem;
		// 	// 			background-color: $black-ground-color;
		// 	// 			padding: 0.4rem 0.6rem;
		// 	// 		}
		// 	// 		&:hover {
		// 	// 			transform: translateX(-3rem);
		// 	// 			transition: all .75s cubic-bezier(.63,.03,.21,1);
		// 	// 		}
		// 	// 		&:hover::after {
		// 	// 			opacity: 0;
		// 	// 		}
		// 	// 	}
		// 	// }
		// }
		// .social-media-list {
		// 	@include flex-center(column);
		// 	position: absolute;
		// 	left: 2rem;
		// 	.social-media-link {
		// 		padding: 1rem 0;
		// 		.header-icon {
		// 			color:  $text-color;
		// 			font-size: 2rem;
		// 			&:hover {
		// 				color: $secondary-color;
		// 			}
		// 			@include media(768px) {
		// 				font-size: 3rem;
		// 			}
		// 		}
		// 		// &:first-child::after,
		// 		// &:last-child::before {
		// 		// 	content: '';
		// 		// 	position: absolute;
		// 		// 	height: 2px;
		// 		// 	width: 30%;
		// 		// 	background-color: lighten($black-ground-color, 50);
		// 		// 	top: 50%;
		// 		// 	@include media(768px) {
		// 		// 		width: 90px;
		// 		// 	}
		// 		// }
		// 		// &:first-child::after {
		// 		// 	left: -5rem;
		// 		// 	@include media(768px) {
		// 		// 		left: -10rem;
		// 		// 	}
		// 		// }
		// 		// &:last-child::before {
		// 		// 	right: -5rem;
		// 		// 	@include media(768px) {
		// 		// 		right: -10rem;
		// 		// 	}
		// 		// }
		// 	}
		// }
	}

	// &::before {
	// 	display: none;
	// 	@include media(768px) {
	// 		display: block;
	// 		position: absolute;
	// 		top: 20vh;
	// 		right: 3%;
	// 		content: 'MENU';
	// 		transform: rotate(90deg);
	// 		font-size: 2rem;
	// 		font-weight: 400;
	// 		color:  $text-color;
	// 	}
	// }
	// &::after {
	// 	display: none;
	// 	@include media(768px) {
	// 		display: block;
	// 		position: absolute;
	// 		top: 30vh;
	// 		right: 5%;
	// 		content: '';
	// 		height: 26rem;
	// 		width: 0.3rem;
	// 		background-color: lighten($black-ground-color, 40);
	// 		border-radius: 0.5rem;
	// 	}
	// }
}