.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	.header-main-container {
		width: 90%;
		margin: 0 auto;
		height: 9rem;
		@include flex-between(row);
		.nav-list {
			display: none;
		}
		.social-media-list {
			display: none;
		}
		.menu-icon {
			width: 4rem;
			height: 4rem;
			background-color: $text-color;
			cursor: pointer;
			border-radius: 50%;
			@include flex-center(row);
			.humberger {
				font-size: 2.5rem;
			}
		}
		.logo-container .logo {
			font-size: 2.8rem;
			font-weight: 900;
			color: $text-color;
			span {
				color: $secondary-color;
			}
		}
	}
}
