@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: #161616;
  overflow: hidden;
}

input,
button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.main-header .header-main-container {
  width: 90%;
  margin: 0 auto;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main-header .header-main-container .nav-list {
  display: none;
}
.main-header .header-main-container .social-media-list {
  display: none;
}
.main-header .header-main-container .menu-icon {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-header .header-main-container .menu-icon .humberger {
  font-size: 2.5rem;
}
.main-header .header-main-container .logo-container .logo {
  font-size: 2.8rem;
  font-weight: 900;
  color: #fff;
}
.main-header .header-main-container .logo-container .logo span {
  color: #cf000f;
}
.main-header .header-main-container .navbar-img-wrapper,
.main-header .header-main-container .close-icon,
.main-header .header-main-container .languages {
  display: none;
}

.main-navbar.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  z-index: 999;
}

.main-navbar.open .main-navbar-container {
  width: 100%;
  height: 100%;
}
.main-navbar.open .main-navbar-container .menu-icon {
  display: none;
}
.main-navbar.open .main-navbar-container .close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-navbar.open .main-navbar-container .close-icon .close {
  font-size: 2.5rem;
  color: #161616;
}
.main-navbar.open .main-navbar-container .header-list {
  margin-top: 8rem;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-navbar.open .main-navbar-container .header-list .navbar-img-wrapper {
  display: none;
  width: 50%;
  float: left;
  margin-left: 5rem;
  margin-top: -5rem;
}
.main-navbar.open .main-navbar-container .header-list .navbar-img-wrapper img {
  max-width: 90%;
}
@media screen and (min-width: 768px) {
  .main-navbar.open .main-navbar-container .header-list .navbar-img-wrapper {
    display: block;
  }
}
.main-navbar.open .main-navbar-container .header-list .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 7rem;
}
.main-navbar.open .main-navbar-container .header-list .nav-list .nav-link {
  margin-top: 1rem;
  width: 30rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .main-navbar.open .main-navbar-container .header-list .nav-list .nav-link {
    margin-right: 10rem;
    margin-top: 4rem;
  }
}
.main-navbar.open .main-navbar-container .header-list .nav-list .nav-link a {
  width: 100%;
  text-align: end;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .main-navbar.open .main-navbar-container .header-list .nav-list .nav-link a {
    font-size: 4.5rem;
    font-weight: 900;
  }
}
.main-navbar.open .main-navbar-container .header-list .nav-list .nav-link a span {
  position: absolute;
  top: 1rem;
  right: -3rem;
  font-size: 1.3rem;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
  background-color: #fff;
}
.main-navbar.open .main-navbar-container .header-list .nav-list .nav-link a.active {
  color: #cf000f;
}
.main-navbar.open .main-navbar-container .header-list .nav-list .nav-link a::after {
  position: absolute;
  content: "";
  height: 3rem;
  width: 3rem;
  top: 1rem;
  right: -4.5rem;
  font-size: 1.3rem;
  background-color: #161616;
  padding: 0.4rem 0.6rem;
}
.main-navbar.open .main-navbar-container .header-list .nav-list .nav-link a:hover {
  transform: translateX(-3rem);
  transition: all 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
}
.main-navbar.open .main-navbar-container .header-list .nav-list .nav-link a:hover::after {
  opacity: 0;
}
.main-navbar.open .main-navbar-container .header-list .social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 10.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link {
  padding: 0 1rem;
}
.main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link .header-icon {
  color: #fff;
  font-size: 2rem;
}
.main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link .header-icon:hover {
  color: #cf000f;
}
@media screen and (min-width: 768px) {
  .main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link .header-icon {
    font-size: 3rem;
  }
}
.main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:first-child::after, .main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:last-child::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30%;
  background-color: #969696;
  top: 50%;
}
@media screen and (min-width: 768px) {
  .main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:first-child::after, .main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:last-child::before {
    width: 90px;
  }
}
.main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:first-child::after {
  left: -5rem;
}
@media screen and (min-width: 768px) {
  .main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:first-child::after {
    left: -10rem;
  }
}
.main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:last-child::before {
  right: -5rem;
}
@media screen and (min-width: 768px) {
  .main-navbar.open .main-navbar-container .header-list .social-media-list .social-media-link:last-child::before {
    right: -10rem;
  }
}
.main-navbar.open .main-navbar-container .header-list .languages {
  position: absolute;
  bottom: 16rem;
  right: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
}
.main-navbar.open .main-navbar-container .header-list .languages li {
  margin-top: 0.5rem;
}
.main-navbar.open .main-navbar-container .header-list .languages li a {
  color: #fff;
  font-size: 2rem;
}
.main-navbar.open .main-navbar-container .header-list .languages li a:hover {
  color: #cf000f;
}
.main-navbar.open .main-navbar-container .header-list .languages li:first-child a {
  color: #cf000f;
}
.main-navbar.open .main-navbar-container .header-list .languages li:last-child a {
  color: #cf000f;
  text-decoration: underline;
}
.main-navbar.open .main-navbar-container::before {
  position: absolute;
  top: 20vh;
  right: 3%;
  content: "MENU";
  transform: rotate(90deg);
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
.main-navbar.open .main-navbar-container::after {
  position: absolute;
  top: 30vh;
  right: 5%;
  content: "";
  height: 26rem;
  width: 0.3rem;
  background-color: #7c7c7c;
  border-radius: 0.5rem;
}

.headline-section {
  width: 100%;
  margin-top: 12rem;
}
.headline-section .main-healine-container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.headline-section .main-healine-container .headline-left-container {
  width: 100%;
}
.headline-section .main-healine-container .headline-left-container .me {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}
@media screen and (min-width: 800px) {
  .headline-section .main-healine-container .headline-left-container .me {
    font-size: 7rem;
    line-height: 6.5rem;
  }
}
.headline-section .main-healine-container .headline-left-container .me span {
  color: #cf000f;
}
.headline-section .main-healine-container .headline-left-container .about-me {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: left;
  color: #ffffff99;
  margin-top: 1.5rem;
}
@media screen and (min-width: 800px) {
  .headline-section .main-healine-container .headline-left-container .about-me {
    max-width: 500px;
  }
}
.headline-section .main-healine-container .headline-left-container .connections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 1rem;
}
@media screen and (min-width: 800px) {
  .headline-section .main-healine-container .headline-left-container .connections {
    margin-top: 2rem;
  }
}
.headline-section .main-healine-container .headline-left-container .connections .btn-resume {
  padding: 0.6rem 2rem;
  border: 1px solid #cf000f;
  background-color: #afafaf;
  color: #cf000f;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-right: 1.3rem;
}
.headline-section .main-healine-container .headline-left-container .connections .connect {
  z-index: 1;
  font-size: 1.6rem;
  font-weight: 900;
  color: #cf000f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.headline-section .main-healine-container .headline-left-container .connections .connect .connect-icon {
  margin-left: 0.2rem;
  font-size: 2.4rem;
}
.headline-section .main-healine-container .headline-left-container .connections .connect::after {
  position: absolute;
  content: "";
  bottom: 0.29rem;
  width: 107%;
  left: 0rem;
  border-radius: 5rem;
  height: 2px;
  background-color: #cf000f;
}
@media screen and (min-width: 900px) {
  .headline-section .main-healine-container .headline-left-container {
    width: 45%;
  }
}
.headline-section .main-healine-container .headline-img {
  width: 55%;
  display: none;
}
.headline-section .main-healine-container .headline-img img {
  max-width: 100%;
}
@media screen and (min-width: 900px) {
  .headline-section .main-healine-container .headline-img {
    display: block;
  }
}

.container {
  width: 100%;
  position: relative;
}

.bar {
  height: 100px;
  width: 1px;
  background-color: #ffffff99;
  margin-bottom: 1rem;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  .bar {
    height: 120px;
  }
}

.last {
  z-index: 1;
  margin-top: 1rem;
  margin-bottom: 0;
  position: relative;
}
.last::before {
  position: absolute;
  content: "© Moise. 2021";
  bottom: -3rem;
  left: 2.5%;
  width: 120px;
  color: #fff;
  font-weight: 500;
}

.left-bar-icons {
  z-index: 1;
  position: fixed;
  top: 20vh;
  left: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .left-bar-icons {
    top: 20vh;
    left: 4%;
  }
}

.left-bar-icons .social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons-list .social-left-bar-icons-link {
  margin: 0.5rem 0;
}
@media screen and (min-width: 800px) {
  .social-icons-list .social-left-bar-icons-link {
    margin: 1.5rem 0;
  }
}

.rigth-scroll-bar {
  z-index: 1;
  display: none;
  position: fixed;
  top: 18vh;
  right: 4%;
  height: 70vh;
  width: 0.3rem;
  border-radius: 0.5rem;
  background-color: #fff;
}
.rigth-scroll-bar::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #cf000f;
}
@media screen and (min-width: 500px) {
  .rigth-scroll-bar {
    display: block;
  }
}

.bar-icon {
  z-index: 1;
  font-size: 1.6rem;
  color: #fff;
}
.bar-icon:hover {
  color: #cf000f;
}
@media screen and (min-width: 800px) {
  .bar-icon {
    font-size: 2.5rem;
  }
}

a {
  cursor: pointer;
}