@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: #161616;
}

input,
button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
}
.main-header .header-main-container {
  width: 90%;
  margin: 0 auto;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main-header .header-main-container .nav-list {
  display: none;
}
.main-header .header-main-container .social-media-list {
  display: none;
}
.main-header .header-main-container .menu-icon {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-header .header-main-container .menu-icon .humberger {
  font-size: 2.5rem;
}
.main-header .header-main-container .logo-container .logo {
  font-size: 2.8rem;
  font-weight: 900;
  color: #fff;
}
.main-header .header-main-container .logo-container .logo span {
  color: #cf000f;
}

.headline-section {
  width: 100%;
  margin-top: 12rem;
}
.headline-section .main-healine-container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.headline-section .main-healine-container .headline-left-container {
  width: 100%;
}
.headline-section .main-healine-container .headline-left-container .me {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}
@media screen and (min-width: 800px) {
  .headline-section .main-healine-container .headline-left-container .me {
    font-size: 7rem;
    line-height: 6.5rem;
  }
}
.headline-section .main-healine-container .headline-left-container .me span {
  color: #cf000f;
}
.headline-section .main-healine-container .headline-left-container .about-me {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: left;
  color: #ffffff99;
  margin-top: 1.5rem;
}
@media screen and (min-width: 800px) {
  .headline-section .main-healine-container .headline-left-container .about-me {
    max-width: 500px;
  }
}
.headline-section .main-healine-container .headline-left-container .connections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 1rem;
}
@media screen and (min-width: 800px) {
  .headline-section .main-healine-container .headline-left-container .connections {
    margin-top: 2rem;
  }
}
.headline-section .main-healine-container .headline-left-container .connections .btn-resume {
  padding: 0.6rem 2rem;
  border: 1px solid #cf000f;
  background-color: #afafaf;
  color: #cf000f;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-right: 1.3rem;
}
.headline-section .main-healine-container .headline-left-container .connections .connect {
  font-size: 1.6rem;
  font-weight: 900;
  color: #cf000f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.headline-section .main-healine-container .headline-left-container .connections .connect .connect-icon {
  margin-left: 0.2rem;
  font-size: 2.4rem;
}
.headline-section .main-healine-container .headline-left-container .connections .connect::after {
  position: absolute;
  content: "";
  bottom: 0.29rem;
  width: 107%;
  left: 0rem;
  border-radius: 5rem;
  height: 2px;
  background-color: #cf000f;
}
@media screen and (min-width: 900px) {
  .headline-section .main-healine-container .headline-left-container {
    width: 45%;
  }
}
.headline-section .main-healine-container .headline-img {
  width: 55%;
  display: none;
}
.headline-section .main-healine-container .headline-img img {
  max-width: 100%;
}
@media screen and (min-width: 900px) {
  .headline-section .main-healine-container .headline-img {
    display: block;
  }
}

.container {
  width: 100%;
  position: relative;
}

.bar {
  height: 100px;
  width: 1px;
  background-color: #ffffff99;
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .bar {
    height: 120px;
  }
}

.last {
  margin-top: 1rem;
  margin-bottom: 0;
  position: relative;
}
.last::before {
  position: absolute;
  content: "© Moise. 2021";
  bottom: -3rem;
  left: 2.5%;
  width: 120px;
  color: #fff;
  font-weight: 500;
}

.left-bar-icons {
  position: fixed;
  top: 20vh;
  left: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .left-bar-icons {
    top: 20vh;
    left: 4%;
  }
}

.left-bar-icons .social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons-list .social-left-bar-icons-link {
  margin: 0.5rem 0;
}
@media screen and (min-width: 800px) {
  .social-icons-list .social-left-bar-icons-link {
    margin: 1.5rem 0;
  }
}

.rigth-scroll-bar {
  display: none;
  position: fixed;
  top: 18vh;
  right: 4%;
  height: 70vh;
  width: 0.3rem;
  border-radius: 0.5rem;
  background-color: #fff;
}
.rigth-scroll-bar::after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #cf000f;
}
@media screen and (min-width: 500px) {
  .rigth-scroll-bar {
    display: block;
  }
}

.bar-icon {
  font-size: 1.6rem;
  color: #fff;
}
.bar-icon:hover {
  color: #cf000f;
}
@media screen and (min-width: 800px) {
  .bar-icon {
    font-size: 2.5rem;
  }
}